<%- include('../partials/header') %>

<h1>Applications</h1>

<table>
    <thead>
        <div>
            <th>Job Title</th>
            <th>Employer</th>
            <th>Location</th>
            <th>Date Applied</th>
            <th>Salary Range</th>
            <th>Notes</th>
        </div>
    </thead>
    <tbody>
        
        <% for (app of applications) { %>
            <tr>
                <td><%= app.jobTitle %></td>
                <td><%=app.employer%></td>
                <td><%=app.location%></td>
                <td><%=app.dateApplied%></td>
                <td><%=app.salaryRange%></td>
                <td><%=app.notes%></td>
            </tr>
            <% } %>

        </tbody>
    </table>
<%- include('../partials/footer') %>
