<%- include('../partials/header') %>

<h1>Applications</h1>

<table class="highlight z-depth-2">
    <thead>
        <div>
            <th class="center-align">Job Title</th>
            <th class="center-align">Employer</th>
            <th class="center-align">Location</th>
            <th class="center-align">Date Applied</th>
            <th class="center-align">Salary Range</th>
            <th class="center-align">View Info</th>
            <th class="center-align">Delete</th>
        </div>
    </thead>
    <tbody>
        <% if (user._id.equals(user && user._id)){ %>
        <% applications.forEach(function(application) { %>
        <tr>
            <td class="center-align"><%=application.jobTitle%></td>
            <td class="center-align"><%=application.employer%></td>
            <td class="center-align"><%=application.location%></td>
            <td class="center-align"><%=application.dateApplied.toLocaleDateString()%></td>
            <td class="center-align"><%=application.salaryRange%></td>
            <td class="center-align"> <a href="/applications/<%=application._id %>">
                    <button class="btn waves-effect waves-light green" type="button"><i class="material-icons">visibility</i></button></a></td>
            <td>
                <form action="/applications/<%= application._id %>?_method=DELETE" class="delete-app center-align" method="POST">
                    <button class="btn waves-effect waves-light red" type="submit"><i class="material-icons">delete_forever</i></button></a>
                </form>
            </td>
        </tr>
        <% })} %>


    </tbody>
</table>
<%- include('../partials/footer') %>