<%- include('../partials/header') %>

<h3>Application Details</h3>

<table class="highlight z-depth-2">
    <thead>
        <div>
            <th class="center-align">Job Title</th>
            <th class="center-align">Employer</th>
            <th class="center-align">Location</th>
            <th class="center-align">Date Applied</th>
            <th class="center-align">Salary Range</th>
            <th class="center-align">Notes</th>
            <th class="center-align">Edit</th>
        </div>
    </thead>
    <tbody>
        <tr>
            <td class="center-align"><%= application.jobTitle %></td>
            <td class="center-align"><%= application.employer %></td>
            <td class="center-align"><%= application.location %></td>
            <td class="center-align"><%= application.dateApplied.toLocaleDateString() %></td>
            <td class="center-align"><%= application.salaryRange %></td>
            <td class="center-align"><%= application.notes %></td>
            <td class="center-align"><a href="/applications/<%= application._id %>/edit" class="btn waves-effect waves-light green"><i class="material-icons">mode_edit</i></a></td>

        </tr>
    </tbody>

</table>

<br><br>

<div class="container row">
        <h5>Add an Interview</h5>
<form id="add-interview-form" method="POST" action="/applications/<%=application._id %>/interviews">
    <br>

    <label class="col s6"for="interviewDate">Interview Date: <input placeholder="Choose a Date" type="text" name="interviewDate" class="datepicker"></label>

    <label class="col s6" for="interviewTime">Interview Time: <input placeholder="Choose a Time" type="text" name="interviewTime" class="timepicker"></label>

    <label class="col s12" for="dressCode">Dress Code: <input placeholder="Dress Code" type="text" name="dressCode"></label>

    <label class="col s12" for="notes">Notes: <input placeholder="Add Notes" type="text" name="notes"></label>

    <button class="btn waves-effect waves-light" id="addInterviewBtn" type="submit" value="Add interview"> Add Interview
            <i class="material-icons left">add_box</i>
    </button>
</form>
</div>

<br>

<% if (application.interviews) { %>
<table>
    <thead>
        <tr>
            <th>Interview Date</th>
            <th>Interview Time</th>
            <th>Dress Code</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <% application.interviews.forEach(function(interview) { %>
        <tr>
            <td><%= interview.interviewDate.toLocaleDateString() %></td>
            <td><%= interview.interviewTime%></td>
            <td><%= interview.dressCode %></td>
            <td><%= interview.notes %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% } else { %>
<h5>No interviews Yet</h5>
<% } %>
</label><br>

<%- include('../partials/footer') %>