<%- include('../partials/header') %>

<h2>Application Details</h2>

<table class="show-page">
    <thead>
        <div>
            <th class="showItem">Job Title: </th>
            <th class="showItem">Employer: </th>
            <th class="showItem">Location: </th>
            <th class="showItem">Date Applied: </th>
            <th class="showItem">Salary Range:</th>
            <th class="showItem">Notes: </th>
        </div>
    </thead>
    <tbody>
        <tr>
            <td class="showItem"><%= application.jobTitle %></td>
            <td class="showItem"><%= application.employer %></td>
            <td class="showItem"><%= application.location %></td>
            <td class="showItem"><%= application.dateApplied.toLocaleDateString() %></td>
            <td class="showItem"><%= application.salaryRange %></td>
            <td class="showItem"><%= application.notes %></td>

        </tr>
    </tbody>

</table>

<br><br>
<h2>Interviews</h2>

<form id="add-interview-form" method="POST" action="/applications/<%=application._id %>/interviews">
    <br>

    <label for="interviewDate">Interview Date: <input type="datetime-local" name="interviewDate"></label>
    <br>

    <label for="interviewTime">Interview Time: <input type="datetime-local" name="interviewTime"></label>
    <br>

    <label for="dressCode">Dress Code: <input type="String" name="dressCode"></label>
    <br>

    <label for="notes">Notes: <input type="String" name="notes"></label>
    <br>

    <input id="addInterviewBtn" type="submit" value="Add interview">
</form>
<br>

<% if (application.interviews) { %>
<table>
    <thead>
        <tr>
            <th>Interview Date</th>
            <th>Interview Time</th>
            <th>Dress Code</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <% application.interviews.forEach(function(interview) { %>
        <tr>
            <td><%= interview.interviewDate.toLocaleDateString() %></td>
            <td><%= interview.interviewTime.toLocaleTimeString() %></td>
            <td><%= interview.dressCode %></td>
            <td><%= interview.notes %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<a href="/applications/<%= application._id %>/edit">Edit Application</a>
<% } else { %>
<h5>No interviews Yet</h5>
<% } %>
</label><br>

<%- include('../partials/footer') %>